body {
    margin: 0;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
}
:root {
  --Cyan: hsl(179, 62%, 43%);
  --Bright-Yellow: hsl(71, 73%, 54%);
  --Light-Gray: hsl(204, 43%, 93%);
  --Grayish-Blue: hsl(218, 22%, 67%);
}
* {
    box-sizing: border-box;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: block;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
  }

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }

  /* Styling for mobile view */
  #header {
    color: var(--Cyan);
  }
  #header1 {
    color: var(--Bright-Yellow);
  }
  .join {
    padding: 10px 30px;
  }
  #text {
    color: var(--Grayish-Blue);
  }
  .sub {
    background-color: var(--Cyan);
    padding: 10px 30px;
  }
  #month {
    color: var(--Light-Gray);
  }
  #dollar {
    display: inline-block;
    color: #fff;
    margin: 0;
    padding: 10px;
    font-size: 36px;
  }
  button {
    width: 100%;
    padding: 12px 18px;
    border: none;
    background-color: var(--Bright-Yellow);
    color: #fff;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: 'Karla', sans-serif;
  }
  .why {
    background-color: hsl(179, 62%, 43%, 0.8);
    padding: 10px 30px;
  }
  ul {
    list-style-type: none;
    padding: 0;
    color: var(--Light-Gray);
  }
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-m-1 {width: 8.33%;}
  .col-m-2 {width: 16.66%;}
  .col-m-3 {width: 25%;}
  .col-m-4 {width: 33.33%;}
  .col-m-5 {width: 41.66%;}
  .col-m-6 {width: 50%;}
  .col-m-7 {width: 58.33%;}
  .col-m-8 {width: 66.66%;}
  .col-m-9 {width: 75%;}
  .col-m-10 {width: 83.33%;}
  .col-m-11 {width: 91.66%;}
  .col-m-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}


  /* Styling for desktop view */

  #header {
    color: var(--Cyan);
  }
  #header1 {
    color: var(--Bright-Yellow);
  }
  .join {
    padding: 10px 30px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #fff;
  }
  #text {
    color: var(--Grayish-Blue);
  }
  .sub {
    background-color: var(--Cyan);
    padding: 10px 30px;
    height: 300px;
    border-bottom-left-radius: 10px;
  }
  #month {
    color: var(--Light-Gray);
  }
  #dollar {
    display: inline-block;
    color: #fff;
    margin: 0;
    padding: 10px;
    font-size: 36px;
  }
  button {
    width: 100%;
    padding: 12px 18px;
    border: none;
    background-color: var(--Bright-Yellow);
    color: #fff;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: 'Karla', sans-serif;
  }
  .why {
    background-color: hsl(179, 62%, 43%, 0.8);
    padding: 10px 30px;
    height: 300px;
    border-bottom-right-radius: 10px;
  }
  ul {
    list-style-type: none;
    padding: 0;
    color: var(--Light-Gray);
  }
  body {
    padding: 50px 300px;
    height: 100vh;
    background-color: var(--Light-Gray);
  }
}